<div class="container-fluid">


    <!-- end of header -->
    <div class="row">
        <div class="offset-lg-1 offset-md-1 col-lg-7 col-md-7">
            <!-- DYNAMIC RENDERING OF COMPONENTS -->
            <!-- It will act like a placeholder, where components will be replaced
            based on routes or navigation clicks -->
            <router-outlet></router-outlet>

            <!-- STATIC RENDERING -->
            <!-- <app-home></app-home>
            <app-home></app-home>
            <app-home></app-home> -->
        </div>
        
    </div>
    <!-- end of row -->
    <br/>
    
</div>




<!-- <h2>Developed By : {{ fullName }} </h2> -->