<div class="animated">
    <h2 class="mt3" style="text-align: center;">Customer Details</h2>
    <hr>
    <br />

    <div class="container">
        <div class="col-md-10 col-lg-10">
        <div class="float-none">
    <div class="card" style="width: 600px;">
        <div class="card-header">
            <img id="imgs"src="assets/images/profile.png" alt="Avatar" style="width:150px" >
        </div>
        <div class="card-body">
            <label class="required col-lg-7 text-right font-weight-bold">Name: </label><label>{{getcust.name}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Username:
            </label><label>{{getcust.username}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Phoneno: </label><label>{{getcust.phoneNo}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Alternate Phoneno:
            </label><label>{{getcust.alternatePhoneNo}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Alternate Email:
            </label><label>{{getcust.alternateEmail}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Gender: </label><label>{{getcust.gender}}</label>
            <hr>
            <label class="required col-lg-7 text-right font-weight-bold">Balance: </label><label>{{getcust.balance}}</label>
            <hr>
           
           
            <button class="btn" routerLink="edit-customer" style="background-color:#007bff;">Edit profile</button>&nbsp;&nbsp;
           
            <br />
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
   
        
          